/* LOGO BMW */
.bmw-logo {
    width: 85px;
    margin-bottom: 10px;
}

/* PALETA BMW */
:root {
    --bmw-blue: #1c69d4;
    --bmw-black: #0a0a0a;
    --bmw-dark: #faf3e0;
    --bmw-gray: #1a1a1a;
    --bmw-light: #f2f2f2;
}

/* GENERAL */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #faf3e0; /* beige premium */
    color: #0a0a0a;
}

/* HEADER */
header {
    background: var(--bmw-black);
    padding: 45px 20px;
    text-align: center;
    border-bottom: 2px solid var(--bmw-blue);
}

header h1 {
    font-size: 38px;
    margin: 0;
    font-weight: 700;
    color: var(--bmw-light);
}

header p {
    margin-top: 8px;
    font-size: 18px;
    opacity: 0.85;
}

/* NAV */
nav {
    background: var(--bmw-dark);
    display: flex;
    gap: 30px;
    padding: 18px 40px;
    border-bottom: 1px solid #222;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    color: var(--bmw-light);
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: var(--bmw-blue);
}

/* CONTENEDOR */
.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    padding: 50px 0;
}

/* TITULOS */
h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
    color: var(--bmw-light);
    border-left: 5px solid var(--bmw-blue);
    padding-left: 12px;
}

/* GRID */
.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 35px;
}

/* TARJETAS */
.car-card {
    background: var(--bmw-gray);
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid #222;
}

.car-card:hover {
    transform: translateY(-6px);
    border-color: var(--bmw-blue);
}

.car-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
}

.car-card h3 {
    margin: 18px;
    font-size: 22px;
    font-weight: 600;
    color: var(--bmw-light);
}

.car-card p {
    margin: 0 18px 15px;
    opacity: 0.85;
    font-size: 15px;
}

.car-card strong {
    display: block;
    margin: 0 18px 20px;
    font-size: 20px;
    color: var(--bmw-blue);
}

/* FOOTER */
footer {
    background: var(--bmw-black);
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    opacity: 0.8;
    font-size: 14px;
    border-top: 2px solid var(--bmw-blue);
}
